<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon fix -->
    <link rel="shortcut icon" href="#">

    <!-- Import Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- Import Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

    <!-- Import CSS -->
    <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <!-- Import Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet" type="text/css">

    <!-- Page Title -->
    <title>{{title}}</title>
    <link href="/images/shine-logo.png" rel="shortcut icon" type="image/png">
</head>

<header>
    <nav id="navbar">
        <div class="d-flex justify-content-between">
            <a href="home"><img id="nav-logo" src="/images/shine-logo.png" alt="shine logo"></a>
            <p id="site-name">Shine: Slippi Stats Parser</p>
            <img id="slippi-logo" src="/images/slippi-logo.png" alt="slippi logo">
        </div>
    </nav>
</header>

{{{body}}}

<footer>
    <nav id="navbar" class="fixed-bottom d-flex justify-content-end">
        <p class="rights-reserved"></p>
        <a class="navbar-brand" href="https://github.com/Diaresta" target="_blank"><i class="fab fa-github fa-lg"
                alt="github logo"></i></a>
    </nav>
</footer>

</html>