<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon fix -->
    <link rel="shortcut icon" href="#">

    <!-- Import CSS -->
    <link href="/static/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">

    <!-- Import Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


    <!-- Import Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet" type="text/css">

    <!-- Page Title -->
    <title>{{title}}</title>
    <link href="" rel="shortcut icon" type="image/png">
</head>

<header>
    <nav class="navbar">

    </nav>
</header>
REEEE
{{{body}}}

<footer>
    <p class="rights-reserved">
    </p>
</footer>

</html>