<body>
    <main>
        <div id="upload-box" class="upload-box">
            <form id="submit-form" action="/upload" method="POST" enctype="multipart/form-data">
                <div id="drop-area">
                    <label id="select-text" for="file-input">Drop .slp file here | Click to select</label>
                    <p id="file-name"></p>
                    <input id="file-input" type="file" accept=".slp" name="match">
                </div>
                <button id="stats-button" class="btn" type="submit" value="submit">Let's get those
                    stats</button>
            </form>
        </div>
        <div id="clear-error">
            <a id="clear-button" href="/home">(or clear that's cool too)</a>
            <p id="error">{{error}}</p>
        </div>

        {{!-- <div id="uploaded-file">Ree</div> --}}

        {{!-- <div id="stat-buttons">
            <button id="stats-button">Let's get those stats</button><br>
            <button id="clear-button">(or clear that's cool too)</button>
        </div> --}}
    </main>

    <script src="scripts/upload-box.js"></script>
</body>