<body>
    <main>
        <div id="stats-container">
            <div id="player-one">
                <img class="character-image" src="/images/character-images/fox/character/fox (2).png">
                <div class="player-name-div">
                    <h2 id="player-one-name"></h2><i id="p1-crown" class=""></i>
                </div>

                <ul>
                    <li id="p1-total-damage-done"></li>
                    <li id="p1-average-kill-percent"></li>
                    <li id="p1-openings-per-kill"></li>
                    <li id="p1-damage-per-opening"></li>
                    <li id="p1-neutral-wins"></li>
                    <li id="p1-counter-hits"></li>
                    <li id="p1-apm"></li>
                </ul>
            </div>

            <div id="stat-titles">
                <h1 id="match-score"></h1>
                <p id="time"></p>
                <img id="stage-img" src="https://ssb.wiki.gallery/images/d/de/Battlefieldssbm.jpg">
                <ul>
                    <li id="total-damage-done">Total Damage Done</li>
                    <li id="average-kill-percent">Average Kill Percent</li>
                    <li id="openings-per-kill">Openings per Kill</li>
                    <li id="damage-per-opening">Damage per Opening</li>
                    <li id="neutral-wins">Neutral Wins</li>
                    <li id="counter-hits">Counter Hits</li>
                    <li id="apm">APM</li>
                </ul>
            </div>

            <div id="player-two">
                <img class="character-image p2" src="/images/character-images/fox/character/fox (0).png">
                <div class="player-name-div">
                    <h2 id="player-two-name"></h2><i id="p2-crown" class=""></i>
                </div>

                <ul>
                    <li id="p2-total-damage-done"></li>
                    <li id="p2-average-kill-percent"></li>
                    <li id="p2-openings-per-kill"></li>
                    <li id="p2-damage-per-opening"></li>
                    <li id="p2-neutral-wins"></li>
                    <li id="p2-counter-hits"></li>
                    <li id="p2-apm"></li>
                </ul>
            </div>
        </div>
        <p>{{test}}</p>
    </main>

    <script src=" scripts/stats-page.js" type="module"></script>
</body>