<body>
    <main>
        <div id="stats-container">
            <div id="player-one">

                <img id="p1-image" class="character-image" src="" alt="Player 1 character image">
                <div class="player-name-div">
                    <h2 id="player-one-name"></h2><i id="p1-crown" class=""></i>
                </div>

                <ul id="p1-stats">
                    <li id="p1-total-damage-done"></li>
                    <li id="p1-average-kill-percent"></li>
                    <li id="p1-openings-per-kill"></li>
                    <li id="p1-damage-per-opening"></li>
                    <li id="p1-neutral-wins"></li>
                    <li id="p1-counter-hits"></li>
                    <li id="p1-apm"></li>
                </ul>

                <ul id="p1-actions">
                    <li id="p1-wavedash-count"></li>
                    <li id="p1-waveland-count"></li>
                    <li id="p1-airdodge-count"></li>
                    <li id="p1-dashdance-count"></li>
                    <li id="p1-spotdodge-count"></li>
                    <li id="p1-ledgegrab-count"></li>
                    <li id="p1-roll-count"></li>
                </ul>
            </div>

            <div id="stat-titles">
                <div id="stock-icons">
                    <div id="p1-stocks">
                        <img class="stock-icon p1-stock" src="" alt="Player 1 stock icon">
                        <img class="stock-icon p1-stock" src="" alt="Player 1 stock icon">
                        <img class="stock-icon p1-stock" src="" alt="Player 1 stock icon">
                        <img class="stock-icon p1-stock" src="" alt="Player 1 stock icon">
                    </div>
                    <div id="p2-stocks">
                        <img class="stock-icon p2-stock" src="" alt="Player 2 stock icon">
                        <img class="stock-icon p2-stock" src="" alt="Player 2 stock icon">
                        <img class="stock-icon p2-stock" src="" alt="Player 2 stock icon">
                        <img class="stock-icon p2-stock" src="" alt="Player 2 stock icon">
                    </div>
                </div>
                <h1 id="match-score"></h1>
                <p id="time"></p>
                <img id="stage-img" src="" alt="Stage Image">
                <ul>
                    <li id="total-damage-done"></li>
                    <li id="average-kill-percent"></li>
                    <li id="openings-per-kill"></li>
                    <li id="damage-per-opening"></li>
                    <li id="neutral-wins"></li>
                    <li id="counter-hits"></li>
                    <li id="apm"></li>
                </ul>
            </div>

            <div id="player-two">
                <img id="p2-image" class="character-image p2" src="" alt="Player 2 character image">
                <div class="player-name-div">
                    <h2 id="player-two-name"></h2><i id="p2-crown" class=""></i>
                </div>

                <ul id="p2-stats">
                    <li id="p2-total-damage-done"></li>
                    <li id="p2-average-kill-percent"></li>
                    <li id="p2-openings-per-kill"></li>
                    <li id="p2-damage-per-opening"></li>
                    <li id="p2-neutral-wins"></li>
                    <li id="p2-counter-hits"></li>
                    <li id="p2-apm"></li>
                </ul>

                <ul id="p2-actions">
                    <li id="p2-wavedash-count"></li>
                    <li id="p2-waveland-count"></li>
                    <li id="p2-airdodge-count"></li>
                    <li id="p2-dashdance-count"></li>
                    <li id="p2-spotdodge-count"></li>
                    <li id="p2-ledgegrab-count"></li>
                    <li id="p2-roll-count"></li>
                </ul>
            </div>
        </div>
        <button id="stat-switch" class="btn btn-sm">Get Actions</button>
    </main>

    <script src=" scripts/stats-page.js" type="module"></script>
</body>