body {
  height: 100vh;
  background-color: #222222;
  color: #fff;
  font-size: 1rem;
}

#navbar {
  background-color: #21ba45;
  width: 100%;
  font-size: 2em;
}

#navbar #nav-logo {
  height: 50px;
  margin-top: 5px;
  margin-left: 15px;
}

#navbar #nav-logo:hover {
  opacity: 0.8;
}

#navbar #site-name {
  margin-left: 15px;
  margin-right: 15px;
}

#navbar #site-name a {
  color: inherit;
  text-decoration: none;
}

#navbar #slippi-logo {
  height: 45px;
  margin-top: 8px;
  margin-right: 15px;
  opacity: 0;
}

#navbar #slippi-logo:hover {
  opacity: 0.5;
}

footer p {
  font-size: 1rem;
  padding-top: 7px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

footer .navbar-brand {
  color: #fff;
}

footer .navbar-brand:hover {
  color: #ccc;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#error {
  color: #21ba45;
  font-size: 1.5rem;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#upload-box {
  display: flex;
  margin: 100px auto;
  width: 400px;
  height: 200px;
  border: 3px dotted #ccc;
}

#upload-box input {
  opacity: 0;
}

#upload-box.dragover {
  border-color: #21ba45;
  color: #ccc;
}

#drop-area {
  height: 100%;
}

#select-text {
  padding-top: 75px;
}

#stats-button {
  border: medium none;
  width: 400px;
  margin-top: 30px;
  margin-left: -3px;
  color: #fff;
  background-color: #ccc;
  padding: 1.25rem 0;
  cursor: auto;
}

#clear-button {
  text-decoration: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: #fff;
  font-size: 0.75rem;
}

#clear-button:hover {
  color: #ccc;
}

#stats-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#stats-container h2 {
  font-weight: 900;
  text-decoration: underline;
}

#stats-container i {
  color: gold;
}

#stats-container li {
  list-style: none;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 2px;
}

#stat-titles {
  padding-top: 80px;
  margin: 0px 200px;
}

#stat-titles p {
  font-size: 1.2rem;
}

#stat-titles h1 {
  font-weight: 900;
}

#stat-titles ul {
  padding-top: 90px;
}

#stat-titles li {
  background-color: #21ba45;
  width: 300px;
  border: 1px solid #fff;
  padding: 2px;
}

#stat-titles li::before {
  z-index: -1;
  content: '';
  display: block;
  background-image: linear-gradient(to right, transparent, #fff, transparent);
  height: 0.1rem;
  position: absolute;
  width: 45%;
  transform: translate(-33%, -50%);
  margin-top: 15px;
}

.character-image {
  height: 400px;
}

.p2 {
  transform: scaleX(-1);
}

.player-name-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fa-crown {
  font-size: 1.25rem;
  padding-top: 13px;
  padding-left: 5px;
}

#match-score {
  -webkit-text-stroke: 1px #222222;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #21ba45;
}

#stage-img {
  height: 150px;
  border: 1px solid #21ba45;
}
