@import 'config';

#stats-container {
  display: flex;
  // justify-content: space-around;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  h2 {
    font-weight: 900;
    text-decoration: underline;
  }

  i {
    color: gold;
  }

  ul {
    padding-left: 0px;
  }

  li {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 2px;
  }
}

#stat-titles {
  padding-top: 55px;
  margin: 0px 200px;

  p {
    font-size: 1.2rem;
  }
  h1 {
    font-weight: 900;
  }

  ul {
    padding-top: 90px;
  }

  li {
    background-color: $accent-color;
    width: 300px;
    border: 1px solid $text-color;
    padding: 2px;
    // text-decoration: underline;
  }

  li::before {
    z-index: -1;
    content: '';
    display: block;
    background-image: linear-gradient(
      to right,
      transparent,
      $text-color,
      transparent
    );
    height: 0.1rem;
    position: absolute;
    width: 45%;
    transform: translate(-33%, -50%);
    margin-top: 15px;
  }
}

#stock-icons {
  div {
    display: inline;
  }

  img {
    width: 20px;
  }
}

.character-image {
  height: 400px;
}

.p2 {
  transform: scaleX(-1);
}

.player-name-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fa-crown {
  font-size: 1.25rem;
  padding-top: 13px;
  padding-left: 5px;
}

#match-score {
  -webkit-text-stroke: 1px $background-color;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: $accent-color;
}

#stage-img {
  height: 150px;
  border: 1px solid $accent-color;
}

#p1-actions,
#p2-actions {
  display: none;
}

#stat-switch {
  width: 95px;
  margin: auto;
  color: $text-color;
  background-color: $accent-color;
  border: none;
  cursor: pointer;

  outline: none;
  box-shadow: none;
}

#stat-switch:hover {
  color: $text-hover;
  background-color: $accent-color;
  transition: color 0s;
}

#demo-test {
  display: none;
}

@media screen and (max-width: 1450px) {
  #stats-container {
    justify-content: space-around;
  }

  #stat-titles {
    margin: 0 100px;
    li::before {
      width: 50%;
      transform: translate(-30%, -50%);
    }
  }
}

@media screen and (max-width: 1280px) {
  #stat-titles {
    margin: 0 25px;

    li::before {
      width: 45%;
      transform: translate(-25%, -50%);
    }
  }
}

@media screen and (max-width: 1100px) {
  #stat-titles {
    margin: 0;

    li::before {
      width: 45%;
      transform: translate(-25%, -50%);
    }
  }
}

@media screen and (max-width: 1100px) {
  #stat-titles {
    li::before {
      width: 45%;
      transform: translate(-21%, -50%);
    }
  }
}

@media screen and (max-width: 1000px) {
  #stat-titles {
    padding-top: 0px;

    ul {
      padding-top: 70px;
    }

    li::before {
      width: 45%;
      transform: translate(-17%, -50%);
    }
  }

  .character-image {
    height: 325px;
  }
}

// ----- Test Queries ----- //
@media screen and (max-height: 900px) {
  #stats-container {
    margin-top: -35px;
  }
}

@media screen and (max-height: 800px) {
  #stats-container {
    margin-top: -45px;
  }
}

// ----- Test Queries ----- //

@media screen and (max-width: 1000px) and (max-height: 800px) {
  #stats-container {
    margin-top: 0px;
  }
}
