@import 'config';

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  // height: 50%;
}

#error {
  // padding-top: 75px;
  // margin-top: 80px;
  color: $accent-color;
  font-size: 1.5rem;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#upload-box {
  display: flex;
  margin: 100px auto;
  width: 400px;
  height: 200px;
  border: 3px dotted $text-hover;

  input {
    opacity: 0;
    height: 100%;
    width: 100%;
    // display: block;
  }
}

#upload-box.dragover {
  border-color: $accent-color;
  color: $text-hover;
}

#drop-area {
  height: 100%;
}

#select-text {
  // padding-top: 75px;
}

#input-text {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -275%);
}

#stats-button {
  border: medium none;
  width: 400px;
  margin-top: 30px;
  margin-left: -3px;
  color: $text-color;
  background-color: $text-hover;
  padding: 1.25rem 0;
  cursor: auto;
}

#clear-error {
  // padding-top: 200px;
}

#clear-button {
  text-decoration: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: $text-color;
  font-size: 0.75rem;
}

#clear-button:hover {
  color: $text-hover;
}

#demo-button {
  @extend #clear-button;
  color: $accent-color;
  position: absolute;
  top: 140px;
  width: 30px;
  height: 20px;
}

#demo-button:hover {
  color: #17a639;
}
